@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


.wrapper {
  justify-content: center;
  height: 100%;
}

.question {
  font-size: 3em;
  color: white;
  margin: 10px 50px;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}


.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

html, body {
  margin: 10px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}

.container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas:
      "h h h h h h h h h h h h"
      "h h h h h h h h h h h h"
      "n n c c c c c c c c c c"
      "n n c c c c c c c c c c"
      "n n c c c c c c c c c c"
      "s s c c c c c c c c c c"
      "s s c c c c c c c c c c"
      "s s c c c c c c c c c c"
      "m m c c c c c c c c c c"
      "m m c c c c c c c c c c"
      "m m c c c c c c c c c c"
      "w w f f f f f f f f p p";
    height: 95vh;
    text-align: center;
}

.Header {
  grid-area: h;
  background-color: #55efc4;
}

.Menu {
  grid-area: m;
  background-color: #a29bfe;
  word-wrap: break-word;
  overflow: hidden;
  padding: 10px;
}

.Content {
  grid-area: c;
  height: 100%;
  width: 100%;
  background-color: #0984e3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-family: Libre;
}

.Content h2 {
  padding: 40px;
}

.Footer {
  grid-area: f;
  background-color: #e17055;
}

.Wrong{
  grid-area: w;
  background-color: #78C257;
  overflow: hidden;
  opacity: 0.85;
  transition: 0.4s;
  cursor: pointer;
  overflow: hidden;
  transform: scale3d(.95,.95,.95);
}

.Wrong-off {
  grid-area: w;
  background-color: #78C257;
  overflow: hidden;
  transition: 0.4s;
  cursor: pointer;
}

.Correct {
  grid-area: p;
  background-color: #FFB900;
  overflow: hidden;
  opacity: 0.85;
  transition: 0.4s;
  cursor: pointer;
  overflow: hidden;
  transform: scale3d(.95,.95,.95);
}

.Correct-off {
  grid-area: p;
  background-color: #FFB900;
  overflow: hidden;
  transition: 0.4s;
  cursor: pointer;
}

.Trivia-Button {
  grid-area: n;
  background-color: #341f97;
  overflow: hidden;
  opacity: 0.85;
  transition: 0.4s;
  cursor: pointer;
  overflow: hidden;
  transform: scale3d(.95,.95,.95);
}

.Trivia-Button-Off {
  grid-area: n;
  background-color: #341f97;
  overflow: hidden;
  transition: 0.4s;
  cursor: pointer;
}

.Answer-Button {
  grid-area: s;
  background-color: #ee5253;
  opacity: 0.85;
  transition: 0.4s;
  cursor: pointer;
  overflow: hidden;
  transform: scale3d(.95,.95,.95);
}

.Answer-Button-Off {
  transition: 0.4s;
  cursor: pointer;
  overflow: hidden;
  grid-area: s;
  background-color: #ee5253;
}

.hide {
  display: none;
}

@media (max-width: 680px) {
  body {
    font-size: 9px;
  }

  .container {
    grid-template-areas:
      "h h h h h h h h h h h h"
      "h h h h h h h h h h h h"
      "n n n n m m m m s s s s"
      "n n n n m m m m s s s s"
      "c c c c c c c c c c c c"
      "c c c c c c c c c c c c"
      "c c c c c c c c c c c c"
      "c c c c c c c c c c c c"
      "c c c c c c c c c c c c"
      "c c c c c c c c c c c c"
      "c c c c c c c c c c c c"
      "w w w w f f f f p p p p";
  }

}

@media (min-width: 680px) {
  body {
    font-size: 9px;
  }

  .container {
    grid-template-areas:
      "h h h h h h h h h h h h"
      "h h h h h h h h h h h h"
      "n n n n m m m m s s s s"
      "n n n n m m m m s s s s"
      "c c c c c c c c c c c c"
      "c c c c c c c c c c c c"
      "c c c c c c c c c c c c"
      "c c c c c c c c c c c c"
      "c c c c c c c c c c c c"
      "c c c c c c c c c c c c"
      "c c c c c c c c c c c c"
      "w w w w f f f f p p p p";
  }

}

@media (min-width: 768px) {
  body {
    font-size: 13px;
  }

  .container {
    grid-template-areas:
      "h h h h h h h h h h h h"
      "h h h h h h h h h h h h"
      "n n n n m m m m s s s s"
      "n n n n m m m m s s s s"
      "c c c c c c c c c c c c"
      "c c c c c c c c c c c c"
      "c c c c c c c c c c c c"
      "c c c c c c c c c c c c"
      "c c c c c c c c c c c c"
      "c c c c c c c c c c c c"
      "c c c c c c c c c c c c"
      "w w w w f f f f p p p p";
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 15px;
  }

  .container {
    grid-template-areas:
    "h h h h h h h h h h h h"
    "h h h h h h h h h h h h"
    "n n c c c c c c c c c c"
    "n n c c c c c c c c c c"
    "n n c c c c c c c c c c"
    "s s c c c c c c c c c c"
    "s s c c c c c c c c c c"
    "s s c c c c c c c c c c"
    "m m c c c c c c c c c c"
    "m m c c c c c c c c c c"
    "m m c c c c c c c c c c"
    "w w f f f f f f f f p p";
  }
}
